<div *ngIf="usuarios.length; else nenhum">
  <mat-card *ngFor="let usuario of usuarios" class="user-card">
    <mat-card-title>{{ usuario.nome }}</mat-card-title>
    <mat-card-content>
      <p><strong>Email:</strong> {{ usuario.email }}</p>
      <p><strong>Telefone:</strong> {{ usuario.telefone }}</p>
      <p><strong>CPF:</strong> {{ usuario.cpf }}</p>
      <p>
        <strong>Endereço:</strong> {{ usuario.rua }}, {{ usuario.bairro }} -
        {{ usuario.cidade }}/{{ usuario.estado }}
      </p>
    </mat-card-content>
  </mat-card>
</div>
<app-button-default [routerLink]="'/usuarios/novo'">
  Adicionar Usuário
</app-button-default>

<ng-template id="notification" #nenhum>
  <p>Nenhum usuário cadastrado ainda.</p>
</ng-template>
