.user-list-container {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.user-card {
  margin: 0.75rem;
  padding: 1rem;
}

app-button-default {
  display: flex;
  justify-content: flex-end;
  margin: 0.75rem;
}

:host ::ng-deep .mat-mdc-card-title {
  color: blueviolet;
  margin: 1rem;
  text-transform: uppercase;
}
